<div class="text-center">
    <h2 class="spot_index_thema">ツーリングスポット(全<%= @spots.count %>件)</h2>
 </div>
<div class="container">

  <div class="row justify-content-center mt-4">
    <div class="col-10 row justify-content-between">

      <div class="fs-2 col-2"></div>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-10">
    <% @spots.each do |spot| %>
        <ul>
        <hr class="cp_hr01" />
        <li class="spot_icon">
          <%= attachment_image_tag spot, :image,class:'spot_photo', size: "200x100" %>
          <div class="spot_text">
          <p class="spot_name">スポット名：<%= spot.name %></p>
          <%= link_to "スポット詳細" ,spot_path(spot),class:'btn btn-signup  mt-4' %>
          </div>
        </li>
        </ul>
    <% end %>


    </div>
  </div>
</div>