<div class='top-bg px-5 px-sm-0'>
 <%= image_tag "2639471.jpg", class: "top-bg" %>



      <div class="top-message d-flex align-items-center justify-content-center" style="height:300px;">
        <div class="row">
            <h1>Welcome To Touring Spot！<i class="fas fa-book"></i></h1>
          <div class="welcome-message-content">
            <% if current_user.present? %>
              <%= current_user.last_name %> 様<br>
            <% end %>
            ツーリングスポットにようこそ<br>
            ユーザーでない方もツーリングスポットの閲覧はできます<br>
            ユーザー登録もお願いします<br>
          </div>
        </div>
      </div>
</div>
</div>